.body {
    background-color:white;
}
.header {
    padding: 5px 5px 5px 5px;
    top:0;
    left:0;
    right:0;
    position:fixed;
    background-color:darkslategrey;
}
.website-logo {
    vertical-align: baseline;
    font-family: "Arial Black", Gadget, sans-serif;
    color:ghostwhite;
}
.sidebar{
    height: 100%;
    width:  120px;
    margin-top: 21px;
    padding-left:10px;
    left:0px;
    z-index: 1;
    position: fixed;
    overflow: scroll;
    background-color: whitesmoke;
}
.sidebar-element{
    padding-bottom: 5px;
    padding-left: 2px;
    display:block;
}
.content{
    margin-top:12px;
    margin-left:125px;
    padding-left:5px;
    padding-top:1px;
    top:0;
    background-color:white;
    word-wrap: break-word;
}
.current-page {
    font-weight: bolder;
}
.content-page-header{
    font-family: "Arial Black", Gadget, sans-serif;
    text-decoration: underline;
    font-weight:bolder;
}
.content-section-header{
    font-family: "Arial Black", Gadget, sans-serif;
}
.description {
    font-family: Arial, Helvetica, sans-serif	
}
.syntax{
    color:black;
    font-family:"Courier New", Courier, monospace	
}