.website-logo { /* How can I make this text logo bigger without "stretching the div?" */
    color:red;
    font-family: "Arial Black", Gadget, sans-serif;
    vertical-align: baseline;
}
.header {
    /* Add buffer */
    background-color:lightgray;
    padding: 5px 5px 5px 5px;
    top:0;
    left:0;
    right:0;
    position:fixed;
}
.sidebar{           /*Need to make the sidebar Meet the bottom of the header */
    margin-top: 21px;
    height: 100%;
    width:  120px;
    left:0px;
    position: fixed;
    padding-left:10px;
    z-index: 1;
    background-color: aliceblue;
    overflow: scroll;
}
.content{
    margin-top:12px;
    background-color:beige;
    margin-left:125px;
    padding-left:5px;
    padding-top:1px;
    top:0;
}
.current-page {
    font-weight: bolder;
}
.content-page-header{
    font-family: "Arial Black", Gadget, sans-serif;
    text-decoration: underline;
    font-weight:bolder;
}
.content-section-header{
    font-family: "Arial Black", Gadget, sans-serif;
}
.description {
    color:darkslategray;
    font-family: Arial, Helvetica, sans-serif	
}
.syntax{
    color:black;
    font-family:"Courier New", Courier, monospace	
}